.booking_control{
    text-align: center;
    padding: 0.5rem;
}

.booking_control button{
    font: inherit;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background: transparent;
    color: black;
    padding: 0.25rem 3rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.booking_control button.active{
    border-bottom-color: #0F4C81;
    color: #0F4C81;
}

.booking_control button:focus{
    outline: none;
}